#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.defaultContainer {
  width: 500px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #FFF;
  border-radius: 25px;
  background-color: #a29d9d;
}

.logo {
  width: 400px;
  height: calc(100%);
}

.btn {
  background-color: #000000;
  border: 2px solid #FFFFFF;

}

.btnContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-evenly;
}